.head
{
    background-color: #073433;
    color: white;
}

.info-card
{
    background-color: #094644;
    color: white;
}

.desc-card
{
    background-image: linear-gradient(#094644, #17BEBB);
    color: white;
    font-size: 2em;
    text-align: center;
    transition: 1s;
}

.desc-card:hover
{
    background-image: linear-gradient(#17BEBB, #094644);
    color: #094644;
    
}

.page-title
{
    font-size: 7em;
}

body
{
    background-color: #17BEBB;
}