.head
{
    background-color: #073433;
    color: white;
}

.info-card
{
    background-color: #073433;
    color: white;
}

.desc-card
{
    position:absolute;
    left:50%;
    background-image: linear-gradient(#073433, #17BEBB);
    color: white;
    font-size: 2em;
    text-align: center;
    opacity: 1;
    transition: 1s;
    height: 100%;
}

.desc-card-hidden
{
    position: absolute;
    left: 50%;
    background-image: linear-gradient(#17BEBB, #073433);
    color: white;
    font-size: 2em;
    text-align: center;
    z-index: -1;
    height: 100%;
}

.desc-card:hover 
{
    opacity: 0;
}


.page-title
{
    font-size: 7em;
}

body
{
    background-color: #17BEBB;
}